<!DOCTYPE html>
<html>
<body style="font-family: Arial, sans-serif; text-align: center;">
    <h2>THAY ĐỔI MẬT KHẨU</h2>
    <p>Xin chào ${username},</p>
    <p>Bạn đang yêu cầu thay đổi mật khẩu.</p>
    <p>Chọn tích vào đường link bên dưới để đổi mật khẩu, nó sẽ có hiệu lực trong 30 phút.</p>
    <p>Nếu không phải bạn, hãy vui lòng bỏ qua email này.</p>
    <a href="${resetLink}" style="background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Reset Password</a>
    <p>Chúng tôi trân trọng cảm ơn</p>
</body>
</html>
